name: Benchmark

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.x
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install project
        run: uv sync --locked --group benchmark

      - name: Benchmark
        run: |
          uv run python3 tests/benchmark.py 
